*{
	box-sizing:border-box;	
}

html, body{
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
    
}


footer {
    text-align: center;
    font-size:25px;
    padding: 10px;
    background-color: rgb(179, 179, 220);
}

header{
    /* height: 1000px; */
    width: 100%;
    background-color: red;
    background-image: url('../images/waterfall.jpg');
}



.section1{
    background-color:gainsboro;
    text-align:center;
}

nav{
				
    background-color:gainsboro;
    width:100%;
    padding: 5px;
    text-align: center;
    float:left;

}

nav ul li{

    display:inline-block;
}

nav a:hover{
    
    background-color:black;
    padding:25px;
    color:white;
    
}

nav a:link, a:visited{
    
    text-decoration:none;
    color:white;
    padding:40px;
    
}

nav ul li{

    display:inline-block;
    padding: 20px;
}

.waterfall{
    max-width:100px;
    height:1000px;

}

