body {
  height: 100vh;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;

  min-width: 500px;
  overflow: auto;


  background-color: black;
  height: 100vh;
}

.flex_container {
  display: flex;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: 25% 11% 11% 11% 11% 11%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

#display {
  grid-column-end: span 4;
  color: white;
  text-align: right;
  font-size: 75px;
  padding: 40px 0px 40px 00px;
  margin-top: 10%;
  word-wrap: break-word;
  word-break: break-all;
}

#spacing_no-0 {
  text-align: left;
  grid-column-end: span 2;
  border-radius: 35px;
  padding-left: 18%;
  width: 100%;
}

.button {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  background-color: rgb(78, 78, 78);
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  border: 1px solid black;

  height: 5rem;
  line-height: 1rem;
  width: 5rem;
}

.top-row_styling {
  color: black;
  background-color: darkgray;
}

.right-row_styling {
  background-color: orange;
}

.right-row_styling:hover {
  color: orange;
  background-color: white;
  transition: 0.3s;
}

.top-row_styling:hover {
  background-color: gainsboro;
  transition: 0.3s;
}

.button:hover {
  background-color: gainsboro;
  transition: 0.3s;
}

.change_background{
  background-color: white;
  color: black;
}

.change_background #display{
  color: black;
}

.change_background .button{
  border: 1px solid white;
}

.lightDark_styling{
  margin: 2% 0% 0% 2%;
  background-color: gainsboro;
  color: black;
  border-radius: 15px;
  border: 3px solid orange;
  font-size: 15px;
  padding: 8px;
}

.lightDark_styling:hover{
  margin: 2% 0% 0% 2%;
  background-color: orange;
  color: white;
  border-radius: 15px;
  font-size: 15px;
  padding: 8px;
  transition: 0.4s;
}